@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
	font-family: "Monserrat";
	src: url("./public/fonts/Montserrat/Montserrat.ttf");
} */
:root {
	background-color: #fefefe;
}

.results {
	@apply flex flex-col gap-4 h-screen;
}

.results__content {
	@apply max-w-full flex flex-row flex-wrap place-content-center gap-4;
}

.results__content-not-results {
	@apply flex flex-row items-center place-content-center;
}

.filters__input {
	@apply py-1 px-5 border mr-2 rounded-md border-[#0f20411a] text-[14px];
}

.filters__input-search::placeholder {
	@apply text-[#0f204199];
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	margin: 0;
}

.custom-number-input input:focus {
	outline: none !important;
}

.custom-number-input button:focus {
	outline: none !important;
}

.cart h3 {
	font-weight: bold;
}

.counter {
	@apply flex flex-row h-10 w-full rounded-lg relative bg-transparent mt-1;
}

.counter__button {
	@apply bg-gray-300 text-gray-600 hover:text-gray-700 hover:bg-gray-400 h-full w-20 cursor-pointer;
}

.counter__button > span {
	@apply m-auto text-2xl font-thin;
}

.counter__input {
	@layer md:text-basecursor-default;
	@apply outline-none focus:outline-none text-center w-full bg-gray-300 font-semibold hover:text-black focus:text-black flex items-center text-gray-700;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
